# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 19.0 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 18.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://mridwanashari:ridwan01@bigdata.ahijy.mongodb.net/')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [ ]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('6764261cc1a3502daf02d73c'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6764261cc1a3502daf02d73d'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [ ]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('6764261cc1a3502daf02d73c'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('6764261cc1a3502daf02d73d'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [ ]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'Physics', 'average_enrollment': 15.0}
{'_id': 'History', 'average_enrollment': 20.0}

In [ ]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'Computer Science', 'max_enrollment': 25}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [ ]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('6764261cc1a3502daf02d73c'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('6764261cc1a3502daf02d73d'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('6764261cc1a3502daf02d73e'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('6764261cc1a3502daf02d73f'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [ ]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('6764261cc1a3502daf02d73c'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('6764261cc1a3502daf02d73d'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('6764261cc1a3502daf02d73e'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('6764261cc1a3502daf02d73f'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.
- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [ ]:
new_operations = [
    InsertOne({'course': 'Biology 301', 'enrollments': 50, 'department': 'Biology'}),
    InsertOne({'course': 'Chemistry 101', 'enrollments': 40, 'department': 'Chemistry'}),
    InsertOne({'course': 'Art History 102', 'enrollments': 30, 'department': 'Art History'}),
    InsertOne({'course': 'Computer Science 103', 'enrollments': 60, 'department': 'Computer Science'})
]
courses_collection.bulk_write(new_operations)
print('Additional courses inserted successfully.')

Additional courses inserted successfully.

In [ ]:
# Homework 1: Agregasi untuk menghitung jumlah kursus per departemen
pipeline = [
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]
result = courses_collection.aggregate(pipeline)

print("Jumlah kursus per departemen:")
for item in result:
    print(f"Departemen: {item['_id']}, Jumlah Kursus: {item['course_count']}")

Jumlah kursus per departemen:
Departemen: Chemistry, Jumlah Kursus: 1
Departemen: Art History, Jumlah Kursus: 1
Departemen: History, Jumlah Kursus: 1
Departemen: Mathematics, Jumlah Kursus: 1
Departemen: Physics, Jumlah Kursus: 1
Departemen: Computer Science, Jumlah Kursus: 2
Departemen: Biology, Jumlah Kursus: 1

In [ ]:
# Homework 2: Menggunakan $match dan $group untuk filter dan menghitung kursus dengan enrollments > 25
pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {'_id': '$course', 'enrollments': {'$sum': '$enrollments'}}}
]

result = courses_collection.aggregate(pipeline)
print("Kursus dengan pendaftaran lebih dari 25 di 'Computer Science':")
for item in result:
    print(f"Kursus: {item['_id']}, Enrollments: {item['enrollments']}")

Kursus dengan pendaftaran lebih dari 25 di 'Computer Science':
Kursus: Computer Science 103, Enrollments: 60

In [ ]:
# Homework 3: Menggunakan $lookup untuk menggabungkan data kursus dengan data siswa berdasarkan pendaftaran
students_collection = db['students']
pipeline = [
    {
        '$lookup': {
            'from': 'students',
            'localField': 'course',
            'foreignField': 'course_enrolled',
            'as': 'students_enrolled'
        }
    }
]

result = courses_collection.aggregate(pipeline)

print("Data kursus dengan informasi siswa terdaftar:")
for item in result:
    print(f"Kursus: {item['course']}, Enrollments: {item['enrollments']}, Students: {item['students_enrolled']}")

Data kursus dengan informasi siswa terdaftar:
Kursus: Math 101, Enrollments: 30, Students: []
Kursus: CS 102, Enrollments: 25, Students: []
Kursus: History 201, Enrollments: 20, Students: []
Kursus: Physics 202, Enrollments: 15, Students: []
Kursus: Biology 301, Enrollments: 50, Students: []
Kursus: Chemistry 101, Enrollments: 40, Students: []
Kursus: Art History 102, Enrollments: 30, Students: []
Kursus: Computer Science 103, Enrollments: 60, Students: []