# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 20.5 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 16.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://mridwanashari:ridwan01@bigdata.ahijy.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [ ]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data
collection.insert_many([
    {'name': 'Bob', 'department': 'HR', 'age': 35, 'salary': 5000},
    {'name': 'Charlie', 'department': 'Engineering', 'age': 25, 'salary': 5500}
])
print("Data inserted")

collection.update_one({'name': 'Bob'}, {'$set': {'salary': 6000}})
print("Data updated")

collection.delete_one({'name': 'Alice'})
print("Data deleted")

Data inserted
Data inserted
Data updated
Data deleted

In [ ]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('676417c5c2c5f20e7cf228ce'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('676417c6c2c5f20e7cf228cf'), 'name': 'Bob', 'department': 'HR', 'age': 35, 'salary': 6000}
{'_id': ObjectId('676417c6c2c5f20e7cf228d0'), 'name': 'Charlie', 'department': 'Engineering', 'age': 25, 'salary': 5500}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Engineering', 'average_salary': 5500.0}
{'_id': 'Finance', 'average_salary': 4500.0}
{'_id': 'HR', 'average_salary': 6000.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).
- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [ ]:
# Latihan 4.1: Buatlah koleksi baru products dan masukkan data produk (minimal 10 produk).
product_data = [
    {'name': 'Laptop', 'category': 'Electronics', 'price': 1500, 'stock': 30},
    {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 50},
    {'name': 'Headphones', 'category': 'Electronics', 'price': 150, 'stock': 200},
    {'name': 'TV', 'category': 'Electronics', 'price': 1200, 'stock': 15},
    {'name': 'Tablet', 'category': 'Electronics', 'price': 600, 'stock': 40},
    {'name': 'Shirt', 'category': 'Clothing', 'price': 25, 'stock': 150},
    {'name': 'Jeans', 'category': 'Clothing', 'price': 40, 'stock': 100},
    {'name': 'Jacket', 'category': 'Clothing', 'price': 80, 'stock': 50},
    {'name': 'Shoes', 'category': 'Footwear', 'price': 60, 'stock': 120},
    {'name': 'Sneakers', 'category': 'Footwear', 'price': 90, 'stock': 80}
]

product_collection = db["products"]
product_collection.insert_many(product_data)
print("Data telah di masukkan'")

Data telah di masukkan'

In [ ]:
# Latihan 4.2: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
avg_price = collection.aggregate([
    {'$group': {'_id': None, 'avgPrice': {'$avg': '$price'}}}
])

avg_price = list(avg_price)[0]['avgPrice']
print(f"Rata-rata harga produk: {avg_price}")
products_above_avg = collection.find({'price': {'$gt': avg_price}})

print("Produk dengan harga di atas rata-rata:")
for product in products_above_avg:
    print(product['name'], product['price'])

Rata-rata harga produk: 454.5
Produk dengan harga di atas rata-rata:
Laptop 1500
Smartphone 800
TV 1200
Tablet 600

In [ ]:
# Latihan 4.3: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.
category_totals = collection.aggregate([
    {'$group': {'_id': '$category', 'total_products': {'$sum': '$stock'}}},
    {'$sort': {'total_products': -1}}
])

print("Total produk dalam setiap kategori:")
for category in category_totals:
    print(f"Kategori: {category['_id']}, Total Produk: {category['total_products']}")

Total produk dalam setiap kategori:
Kategori: Electronics, Total Produk: 335
Kategori: Clothing, Total Produk: 300
Kategori: Footwear, Total Produk: 200
Kategori: None, Total Produk: 0

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [ ]:
# Tugas 1: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
top_5_employees = collection.aggregate([
    {'$sort': {'department': 1, 'salary': -1}},
    {'$group': {
        '_id': '$department',
        'top_employees': {'$push': '$$ROOT'}
    }},
    {'$project': {
        'department': '$_id',
        'top_employees': {'$slice': ['$top_employees', 5]}
    }},
    {'$unwind': '$top_employees'},
    {'$replaceRoot': {'newRoot': '$top_employees'}}
])

# Menampilkan hasil
print("5 Karyawan dengan Gaji Tertinggi di Setiap Departemen:")
for employee in top_5_employees:
    print(f"Nama: {employee['name']}, Departemen: {employee['department']}, Gaji: {employee['salary']}")

5 Karyawan dengan Gaji Tertinggi di Setiap Departemen:
Nama: Alice, Departemen: Finance, Gaji: 4500
Nama: Bob, Departemen: HR, Gaji: 6000
Nama: Charlie, Departemen: Engineering, Gaji: 5500

In [ ]:
# Tugas 2: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
result = collection.delete_many({'age': {'$lt': 25}})
print(f"telah menghapus karyawan yang berusia di bawah 25 tahun.")

telah menghapus karyawan yang berusia di bawah 25 tahun.

In [ ]:
# Tugas 3: Menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.
report = collection.aggregate([
    {'$group': {
        '_id': '$department',
        'total_salary': {'$sum': '$salary'},
        'average_age': {'$avg': '$age'}
    }},
    {'$sort': {'_id': 1}}
])

# Menampilkan laporan ringkas
print("Laporan Ringkas Per Departemen:")
for dept in report:
    print(f"Departemen: {dept['_id']}, Total Gaji: {dept['total_salary']}, Rata-rata Umur: {dept['average_age']:.2f}")

Laporan Ringkas Per Departemen:
Departemen: Engineering, Total Gaji: 5500, Rata-rata Umur: 25.00
Departemen: Finance, Total Gaji: 4500, Rata-rata Umur: 29.00
Departemen: HR, Total Gaji: 6000, Rata-rata Umur: 35.00